@import url('https://cdnjs.cloudflare.com/ajax/libs/spoqa-han-sans/2.1.1/css/SpoqaHanSans-kr.min.css');

body {
	font-family: 'Spoqa Han Sans', Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

h2 {
  font-size: 1.6rem;
  font-weight: 400;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

th {
  font-weight: 400;
}

dt {
  margin: 1rem 0;
  font-weight: 600;
}

dd {
  margin: 0;
}

#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 997;
}

#navbar nav {
  background-color: #3a70b0;
  box-shadow: none;
  -webkit-box-shadow: none;
}

#navbar div.nav-wrapper {
  background-color: rgba(0, 0, 0, 0.1);
}

#navbar .brand-logo {
  padding: 0 0 0 1rem;
  font-size: 1.4rem;
}

@media only screen and (max-width: 992px) {
  #navbar .brand-logo {
    padding-left: 0;
  }
}

#header {
  margin-bottom: 1.5rem;
  padding-top: 56px;
  background-color: #3a70b0;
}

#header h1 {
  margin: 0;
  padding: 4rem 0;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 300;
  text-align: center;
}

@media only screen and (min-width: 601px) {
  #header {
    padding-top: 64px;
  }
}

#content {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 3rem;
}

#page-index #header {
  display: none;
}

#page-index #content {
  width: 100%;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

#page-index #content a {
  color: #fff;
  text-decoration: underline;
}

#page-index #content h2 {
  font-size: 1.6rem;
  font-weight: 600;
}

#page-index div.section {
  padding: 0;
  background-color: #3a70b0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#page-index .slide-wrapper {
  margin: 128px 64px 64px;
}

#page-index .fp-controlArrow {
  border-width: 0;
}

#page-index .fp-controlArrow.fp-next::after {
  content: '\E001';
  margin-left: -40px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 50px;
}

#page-index .fp-controlArrow.fp-prev::before {
  content: '\E000';
  margin-left: 1px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 50px;
}

#banner {
  color: #fff;
}

#banner h1 {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 3rem;
  padding: 0.35rem 1rem;
  position: relative;
  border-color: #fff;
  border-width: 2px 0;
  border-style: solid;
}

/*
 * page-info
 */

#page-info h2 {
  margin: 3rem 0 1.5rem -20px;
  padding: 0 0 0.2rem 16px;
  border-left: 4px solid #3a70b0;
}

#page-info h3 {
  margin: 1.5rem 0;
  font-weight: 400;
}

#page-info #content img {
  max-width: 100%;
}

#page-info th,
#page-info td {
  border: 1px solid #d0d0d0;
  padding-left: 15px;
}

/*
 * page-contact
 */

#page-contact #content {
  max-width: 600px;
  margin: 0 auto;
}

#page-contact table {
  margin: 1rem 0;
}

#page-contact th,
#page-contact td {
  padding: 0.3rem;
}

#contact-map {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 0 33px;
  font-size: 12px;
  line-height: 0;
}

#contact-map a {
  text-decoration: none;
  color: #333;
}

#contact-map-image {
  border: 1px solid #dbdbdb;
}

#contact-map-image img {
  width: 100%;
}

#contact-map-bar {
  position: absolute;
  width: 100%;
  height: 33px;
  left: 0;
  bottom: 0;
  padding-top: 6px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: #dbdbdb;
  line-height: normal;
}

#contact-map-bar img {
  padding-left: 10px;
  vertical-align: middle;
}

/*
 * page-notice
 */

#page-notice #content {
 	text-align: center;
}

#page-notice #content table {
  text-align: left;
}

#page-notice h2 {
  margin: 0;
  font-size: 1.2rem;
}

#page-notice td.title {
  width: 100%;
}

#page-notice td.date {
  white-space: nowrap;
  color: #999;
	font-size: 1rem;
}

#page-notice #content ul.pagination {
  display: inline-block;
	width: auto;
  margin: 1.5rem auto;
}

#page-notice #content ul.pagination li.active {
  background-color: #3a70b0;
}

/*
 * page-post
 */

#page-post #content h1 {
  margin: 3rem 0 1rem -20px;
  padding: 0 0 0.2rem 16px;
  border-left: 4px solid #3a70b0;
  font-size: 1.6rem
}

#page-post #content p.date {
  padding-bottom: 1rem;
  border-bottom: 1px solid #d0d0d0;
  color: #999;
  font-size: 1rem;
}

#page-post #content p.button {
  padding: 3rem 0;
  text-align: center;
}

#page-post #content .btn-large {
  background-color: #3a70b0;
}

