---
title: 공지사항
id: notice
layout: default
---

<table>
  <thead>
    <th>제목</th>
    <th>날짜</th>
  </thead>
  <tbody>
    {% for post in paginator.posts %}
    <tr>
      <td class="title">
        <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
      </td>
      <td class="date">
        {{ post.date | date: "%Y년 %m월 %d일" }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<ul class="pagination">
  {% if paginator.previous_page %}
	<li class="waves-effect">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
			<i class="material-icons">chevron_left</i>
		</a>
	</li>
  {% else %}
	<li class="disabled">
		<a>
			<i class="material-icons">chevron_left</i>
		</a>
 	</li>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
		<li class="active">
			<a>{{ page }}</a>
		</li>
    {% elsif page == 1 %}
		<li class="waves-effect">
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
				{{ page }}
      </a>
		</li>
    {% else %}
		<li class="waves-effect">
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">
				{{ page }}
	    </a>
		</li>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
	<li class="waves-effect">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
			<i class="material-icons">chevron_right</i>
		</a>
	</li>
  {% else %}
 	<li class="disabled">
    <a>
			<i class="material-icons">chevron_right</i>
		</a>
	</li>
  {% endif %}
</ul>

